// async 与 subscribe 只能同时用一个，否则会导致 subscribe 无法激活
//p async: {{ results | async | json }}
p page1
p cliresults: {{ cliresults | json}}
p cliresults: {{ cliresults.name }}

button((click)="makeEventEmitter()") EventEmitter


//.test
//  p hello world!A
//  button((click)='getMock()') get
//  button((click)='putMock()') put
//  button((click)='postMock()') post
//
////img(src='/src/assets/img/test.png')
//
//
//ueditor